<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"> <body>
<div class="container">
    <div>
        <h1>중간 고사</h1>
            <p>학생 기능</p>
            <p>
                <a href="/student/new">학생 추가</a>
                <a href="/student/studentList">학생 목록</a>
                <a href="/student/delete">학생 삭제</a>
            </p>

            <p>과목 기능</p>
            <p>
                <a href="/subject/new">과목 추가</a>
                <a href="/subject/subjectList">과목 목록</a>
                <a href="/subject/delete">과목 삭제</a>
            </p>

            <p>점수 기능</p>
            <p>
                <a href="/score/new">점수 추가</a>
                <a href="/score/update">점수 수정</a>
                <a href="/score/delete">점수 삭제</a>
                <a href="/score/scoreList">점수 목록</a>
                <a href="/score/averageStudent">학생 평균</a>
                <a href="/score/averageSubject">과목 평균</a>
            </p> </div>
</div> <!-- /container --> </body>
</html>